/* *{
    /* overflow-x: hidden; */
* {
    overflow-x: hidden;
}

.flexboxgreen {
    /* overflow-x:hidden ; */
    /* display: flex;
    flex-direction: row; */
    position: absolute;
    width: 800vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, #ABCF84, #ABCF84, #ABCF84, #ABCF84, #ABCF84, #fe0, #fe0, #fe0, #fe0);
    ;
    margin-top: 75vh;
    margin-left: -290vw;
    /* transform-origin: 50vw 90vh; */
    transform: rotate(-45deg);
    overflow-x: hidden;
    z-index: -1;
}

/* @media (max-width: 768px){
    .flexboxgreen{
        margin-left: -270vw;
    }
}        */
/* .bg-body-tertiary{
    position:fixed;
} */
/* .bg-body-tertiary{
    z-index: 2;
} */
.flexboxpurple {
    position: absolute;
    width: 800vw;
    height: 70vh;
    background-image: linear-gradient(-45deg, #95358C, #95358C, #95358C, #95358C, #E94A61, #E94A61, #E94A61, #E94A61);
    margin-left: -420vw;
    /* transform-origin: 50vw 90vh; */
    transform: rotate(-45deg);
    overflow-x: hidden;
}

/* .productgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
} */
.startSomethingSpecial {
    height: 50vh;
    width: 45vw;
    background-color: red;
    /* margin-left: 20vw; */
    /* background-image: url('logo2.png'); */
    /* margin: 0 auto; */
    /* margin-top: 10vh; */
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */

}
.Ok2{
    height: 50vh;
    width: auto;
    margin-left: 10vw;
}


.grid {
    display: grid;
    grid-template-columns: 45vw 45vw;
    /* Responsive grid with minimum item width of 300px */
    grid-template-rows: repeat(7 auto);
    /* Adjust the number of rows as needed */

    column-gap: 3vw;
    /* height: 350vh; */
    /* width: 90vw; */
    justify-content: center;
    /* margin-left: vw; */
    margin-top: 10vh;
    z-index: 1;
    row-gap: 3vh;
    /* align-items: center; */
    /* align-content: center; */
    /* background-color: green; */
}

.grid * {
    /* border: 2px solid red; */
    /* border: 2px solid green; */
    grid-row: span 2;
    /* background-color: green; */
}

.grid :nth-child(1) {
    grid-row: span 1;
}


/* .grid :nth-child(1) { */
/* grid-column: 1 / 2;
    grid-row: 1 / 2; */
/* background-color: red; */
/* } */

.handlerpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* margin-top: 30vh; */
    /* background-color: blue; */
    width: 45vw;
    margin-left: 30vw;
    /* margin: 0 auto; */
    justify-content: space-evenly;
    /* width: 100vw; */
    color: black
}

.puncline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    /* overflow-y: hidden; */
    font-weight: bold;
    /* margin: 0 auto; */
    /* justify-content: center; */
}

.handlerpagemoto {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 45vw;
    /* margin: ; */
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    /* overflow-y: hidden; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.handlerpagequalities {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.handlerpagequality {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px 20px;
    font-family: Core;
}

.handlerpagemotos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 15vh; */
    /* overflow-y: hidden; */
}

.homevectorimage {
    /* position: relative; */
    max-width: 20vw;
    height: auto;
    float: left;
    margin-top: 30vh;
    
    /* margin-left: 50vw; */
    /* margin-top:120vh */
}

.try1 {
    margin-top: 25vh;
}
.logo{
    margin-left: 35vw;
    margin-top: 30vh;
    transform: scale(2);
    /* margin: 0 auto; */
}
@media (max-width:960px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 80vw;
        /* grid-template-columns: 50vw; */
    }
    .homevectorimage{
        display: none;
    }

}

@media (max-width:881px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 0 auto;
        /* margin-left: 10vw; */
        /* row-gap: 1vh; */
        column-gap: 1vw;
        /* margin: 0 auto; */
        /* margin-left: 10vw; */
        /* display: grid; */
        /* grid-template-columns: 90vw; */
        height: 600vh;
    }

    .flexboxgreen {
        height: 40vh;
    }

    .flexboxpurple {
        height: 30vh;
    }
    .homevectorimage{
        display: none;
    }
    .logo{
        transform: scale(0.75);
        margin-left: -20vw;
        margin-top: 5vh;
    }
    .try1{
        margin-top: 10vh;
    }
    .handlerpage{
        width: 90vw;
        margin-left: 5vw;
    }
    .puncline{
        font-size: 1rem;
    }
    .handlerpagemoto{
        font-size: 2.75rem;
        margin-left: 19vw;
    }
    
    .handlerpagequality{
        font-size: 1rem;
        padding: 2px 2px;
    }
    
    /* .handlerpage{
        /* margin-top: vh; */
    /* } */
}